DATABASE_BACKUP_RETAIN=

AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_OBJECT=
AWS_S3_ENDPOINT=

SERVER_HOSTNAME=
SERVER_PORT=
SERVER_USERNAME=

MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_DATABASE=

NOTIFY_SERVER_HOSTNAME=
NOTIFY_SERVER_PORT=
NOTIFY_SERVER_USERNAME=
NOTIFY_MYSQL_USER=
NOTIFY_MYSQL_DATABASE=